#heading {
    font-family: "TASA Explorer", sans-serif;}
#paragraph {
    text-transform: capitalize;}
#p2 {  
  font-family: "Story Script", sans-serif;}
#p3 {

  font-family: "Story Script", sans-serif;}